---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: go-ingress
  namespace: go-ingress
automountServiceAccountToken: true
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: go-ingress
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name:  go-ingress
subjects:
  - kind: ServiceAccount
    name:  go-ingress
    namespace:  go-ingress
---
apiVersion: v1
kind: Service
metadata:
  name: go-ingress
spec:
  type: LoadBalancer
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
    - name: https
      port: 443
      targetPort: https
      protocol: TCP
  selector:
    app.kubernetes.io/name: go-ingress
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-ingress
  namespace: go-ingress
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: go-ingress
  template:
    metadata:
      labels:
        app.kubernetes.io/name: go-ingress
    spec:
      securityContext:
        fsGroup: 1001
        runAsUser: 1001
        runAsGroup: 1001
      serviceAccount: go-ingress
      containers:
        - args:
            - --debug
            - --load-balancer=svc://$(POD_NAMESPACE)/go-ingress
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
          image: ghcr.io/frantjc/go-ingress:0.4.0
          imagePullPolicy: IfNotPresent
          name: manager
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
            - containerPort: 8081
              name: metrics
              protocol: TCP
            - containerPort: 8082
              name: probe
              protocol: TCP
            - containerPort: 8443
              name: https
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8082
              scheme: HTTP
          healthProbe:
            httpGet:
              path: /healthz
              port: 8082
              scheme: HTTP
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8082
              scheme: HTTP
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: false
            runAsGroup: 1001
            runAsNonRoot: true
            runAsUser: 1001
            seccompProfile:
              type: RuntimeDefault
